{% if customer_id %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serviceHistoryModal-{{ customer_id }}">
    View Service History
</button>
<div class="modal fade" id="serviceHistoryModal-{{ customer_id }}" tabindex="-1" role="dialog"
    aria-labelledby="serviceHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceHistoryModalLabel">Service History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">VIN</th>
                            <th scope="col">Service Date Requested</th>
                            <th scope="col">Service Date Completed</th>
                            <th scope="col">Service Type</th>
                            <th scope="col">Service Request</th>
                            <th scope="col">Service Description</th>
                            <th scope="col">Service Cost</th>
                            <th scope="col">is_serviced</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in services %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}