{% extends 'layout.html' %}

{% block content %}
<h1>Current Stock</h1>
<table class="table">
    <thead class="thead-light"
        <tr>
            <th scope="col">VIN</th>
            <th scope="col">Make</th>
            <th scope="col">Color</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
        </tr>
        {% endfor %}
     </tbody>
</table>
{% endblock %}