{% extends 'layout.html' %}

{% block content %}
<h1>Create Account</h1>
<form method="post" action="/create_account">
    <div class="err-msg">{{ message }}</div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="form-control">
    </div>
    <!-- <div class="form-group">
        <label for="level">Access level:</label>
        <select id="level" name="level" required class="form-control">
            <option value="0">Admin</option>
            <option value="1">Dealer</option>
            <option value="2">Engineer</option>
            <option value="3">Customer</option>
        </select>
    </div> -->
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>
{% endblock %}