{% extends 'layout.html' %}

{% block content %}
<h1>Your Purchases</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">VIN</th>
            <th scope="col">Make</th>
            <th scope="col">Color</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Selling Price</th>
        </tr>
    </thead>
    <tbody>
        {% for index, item in enumerate(data) %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>
                <button class="btn btn-outline-secondary" data-toggle="modal"
                    data-target="#RequestServiceModal{{ index }}">Request
                    Service</button>
                {% with vin=item[0] %}
                {% include 'request_service.html' %}
                {% endwith %}
                <button class="btn btn-outline-secondary" data-toggle="modal"
                    data-target="#viewServiceModal{{ index }}">View Service History</button>
                <input type="hidden" name="VIN{{ index }}" value="{{ item[0] }}">
            </td>
        </tr>
        {% endfor %}

    </tbody>
    <style>
        /* Style for hovering row */
        tbody tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    </style>
</table>
{% endblock %}