{% extends 'layout.html' %}

{% block content %}

<h1>Customers</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">User ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone number</th>
            <th scope="col">Car History</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>
                {% with customer_id=item[0] %}
                {% include 'car_service_history.html' %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
     </tbody>
     <style>
        /* Style for hovering row */
        tbody tr:hover {
            background-color: #ddd;
            cursor: pointer;
        }
    </style>
</table>

<script>
    function showCarHistory(button) {
        const customerId = button.getAttribute('data-customer-id');
        const carVin = button.getAttribute('data-car-vin');
    }
</script>
{% endblock %}