{% extends 'layout_nologin.html' %}

{% block title %}Featured Cars{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="text-center">Featured Cars</h2>
        <div id="car-images">
            <img class="active"
                src="https://images.pexels.com/photos/1719648/pexels-photo-1719648.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Car 1">
            <img src="https://images.pexels.com/photos/2676096/pexels-photo-2676096.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Car 2">
            <img src="https://images.pexels.com/photos/707046/pexels-photo-707046.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Car 3">
            <img src="https://images.pexels.com/photos/119435/pexels-photo-119435.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Car 4">
            <img src="https://images.pexels.com/photos/1638459/pexels-photo-1638459.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Car 5">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var images = document.querySelectorAll("#car-images img");
    var activeIndex = 0;
    setInterval(function () {
        images[activeIndex].classList.remove("active");
        activeIndex = (activeIndex + 1) % images.length;
        images[activeIndex].classList.add("active");
    }, 3000);
</script>
{% endblock %}