<!-- exists as modal window -->
<div id="markSoldModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mark Car as Sold</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('mark_sold') }}">
                    <input type="hidden" name="vin" value="{{ item[0] }}">
                    <div class="form-group">
                        <label for="selling_price" class="control-label mb-0">Final Selling Price:</label>
                        <input type="text" class="form-control" name="selling_price" required>
                    </div>
                    <div class="form-group">
                        <label for="selling_price" class="control-label mb-0">Customer:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="customer_id" required>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" data-toggle="modal"
                                    data-target="#customerModal">Select Customer</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="control-label mb-0">Location of Deal:</label>
                        <select class="form-control" name="location">
                            <option selected>Choose location</option>
                            {% for location in locations %}
                            <option value="{{ location[0] }}">{{ location[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Mark as Sold</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- customerModal -->
<div id="customerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg"> <!-- add modal-lg class here -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Customer</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>SELECT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in custDATA %}
                        <tr>
                            <td>{{ customer[0] }}</td>
                            <td>{{ customer[1] }}</td>
                            <td>{{ customer[2] }}</td>
                            <td>{{ customer[3] }}</td>
                            <td>{{ customer[4] }}</td>
                            <td><button class="btn btn-secondary" data-dismiss="modal"
                                    onclick="selectCustomer('{{ customer[0] }}', '{{ customer[1] }} {{ customer[2] }}')">
                                    <i class="fa fa-check"></i>
                                </button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>